html, body { height: 100%; margin: 0; }
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    width: 90%;
    align-items: center;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
}
.container input,
.container select {
    width: 100%;
    box-sizing: border-box;
}
#summe { white-space: pre-wrap; margin-top: 8px; font-weight: bold; font-size: large; }
#ergebnis { white-space: pre-wrap; margin-top: 4px; }